ipython
matplotlib
numpy
opencv_python
opencv_python_headless
pandas
Pillow
rasterio
scikit_learn
scipy
segmentation_models_pytorch
Shapely
tifffile
torch==1.13.1+cu116
torcheval
torchmetrics
torchvision==0.14.1+cu116
tqdm
patool
